h1 {
    color: #2f5b30;
    font-family: verdana;
    font-size: 300%;
  
  }
  p,h4  {
    color: black;
    font-family: courier;
    font-size: 160%;
  }
textarea{
    display: block;
    width: 80%;
    height: 60px;
    text-align: center;
    font-size: xx-large;
    border: none;
    outline: none;
  }

  button{
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    border-radius: 12px;
    width: 250px;
    padding: 10px 32px;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    
  }
  
  button:hover {
    background-color: #4CAF50;
    color: white;
  }